*{
    padding : 0;
    margin : 0;
}
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: rgb(36, 13, 13);
    padding: 6px;
    justify-content: space-between;
    margin-top: -49px;
}

/*  Navigation Bar: Logo and Image */
#logo{
    margin: -1px 10px;
}
#logo img{
    height: 77px;
    width: 68px;
    object-fit: contain;
}

/*  Navigation Bar: List Sytling */
#navbar ul{
    display: flex;
}
#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    height : 100%;
    width: 100%;
    top:0px;
    left : 0px;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color : white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    background-color: rgba(245, 245, 245, 0.504);
    color : #29d9d5;
}
.btn{
    padding : 6px 20px;
    border : 2px solid  #29d9d5;
    background-color: brown;
    color:#29d9d5;
    margin:17px;
    font-size : 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}


/* Section */


/* Images */
.maincontainer
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.mainnn
{
    background-color: transparent;
        height: 1162px;
    width: 80vw;
    /* margin: 1px; */
    margin: 49px 156px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 20% 40% 40%;
    gap: 15px;
    z-index: -1;
    
    
    
    
}
.mainn p{
    height : 100px;
}
.maindiv{
    
    
    border: 1px solid red;
    border-radius:5px;
    box-shadow: 2px 2px 2px 2px hsl(0,0%,81%);
    
}
#one
{
    margin-top: 150px;
    grid-column: 1/4;
    /* background-color: rgb(235, 209, 209); */
    padding: 5px;
    

}
#two:hover{
    /* background-color: transparent; */
    opacity: 0.5;

}
#three:hover{
    /* background-color: transparent; */
    opacity: 0.5;

}
#four:hover{
    /* background-color: transparent; */
    opacity: 0.5;

}
#five:hover{
    /* background-color: transparent; */
    opacity: 0.5;

}#six:hover{
    /* background-color: transparent; */
    opacity: 0.5;

}
#seven:hover{
    /* background-color: transparent; */
    opacity: 0.5;

}

#two
{
    grid-column: 1/2;
    background-image: url(./img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./nature1.jpg) ;
}
#three
{
    grid-column: 2/3;
    background-image: url(./img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./nature1.jpg) ;

}
#four
{
    grid-column: 3/4; 
    background-image: url(./img3.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./nature1.jpg) ;
}
#five
{
    grid-column: 1/2;
    background-image: url(./img4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./nature1.jpg) ;
    
}
#six
{
    grid-column: 2/3;
    background-image: url(./img5.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./nature1.jpg) ;
}
#seven
{
    grid-column: 3/4;
    background-image: url(./img6.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./nature1.jpg) ;
}
#p1
{
    font-family: Arial, Helvetica, sans-serif;
    
}
 footer{
    background-color: black;
    color : white;
    padding : 9px 20px;
}
#footer{
    position : relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./aaron-burden-AXqMy8MSSdk-unsplash.jpg' ) no-repeat center center/cover;
    height: 260px;
}
#footer{

}
#journey h3{font-size: 1.4rem;
    padding: 43px;
    margin-top: -32px;
    margin-left: 75px;
    color : black;

}
#journey h1{
    font-size : 1.8rem;
    margin-left : 100px;
    /* padding:10px; */
    margin-top:-10px;
}
#footer #journey .btn{
    padding: 6px 2px;
    border: 2px solid #29d9d5;
    background-color: brown;
    color: #29d9d5;
    margin: 10px;
    font-size: 0.8rem;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 232px;
}

#last{
    display: flex;
    justify-content: space-around;
    height : 250px;
    background-color: black;
}
.last1{
    border : 2px solid red;
    height: 234px;
    width: 254px;
    justify-content: center;
}
.ban-1
{
   
    color: white;
    height: 350px;
    display: flex;
    flex-direction: row;
    
    align-items: center;
   background-color: black;
    justify-content: center;
}
.ban-1 .one
{
    /* justify-content: center; */
    align-items: center;
    line-height: 40px;
   
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    height: 300px;
   
}
.ban-1 .one .foot
{
    display: flex;
    flex-direction: row;
}
.ban-1 .one .foot .ic
{
    border: 1px solid #29d9d5;
    border-radius: 35%;
    padding: 11px;
    margin: 4px;
    transition: 1s;
    padding-top: 23px;
}
.ban-1 .one .foot .ic:hover
{
    background-color: #29d9d5;
}
.bi
{
    width: 50px;
    height: 50px;
    color: #29d9d5;
    
    background: black;
    /* padding:20px; */
  
}
.bi:hover
{
    background:transparent;
    color: black;
}
input
{
    width:300px;
    height: 80px;
    border-radius: 40px;
    margin: 10px;
    font-size: 20px;
    margin-left: 30px;
    border: 1px solid #29d9d5;
    padding-left: 20px;
    background-color: transparent;
    color: gray;
    
}
.bi-facebook
{
    color: #29d9d5;
    background-color: black;
}
